<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> <!-- Lidhja me bootstrap -->
  <link rel="stylesheet" type="text/css" href="/main.css">
  <meta charset="UTF-8"> 
  <title>Kontratat</title>
  </head>
<body>

<h3>Nr rendor: <%= doc.nr_rendor %></h3>
<h3>Lloji i prokurimit: <%= doc.lloji_prokurimit %></h3>
<h3>Aktivivteti i prokurimit <%= doc.aktivivteti %></h3>
<h3>:Data e inicimit <%= doc.d_inicimit %></h3>
<h3>:Data e publikimit <%= doc.d_publikimit %></h3>
<h3>:Data e nenshkrimit <%= doc.d_nenshkrimit %></h3>
<h3>:Afati per implementimin <%= doc.afati1 %></h3>
<h3>:Afati per implementimin <%= doc.afati2 %></h3>
<h3>:Data e permbylljes se kontrates<%= doc.d_permbylljes %></h3>
<h3>:Cmimi i kontrates duke perfshire te gjitha taksat <%= doc.cmimi_k %></h3>
<h3>:Cmimi total i paguar per kontraten <%=doc.cmimi_t %></h3>
<h3>:Emri i te cilit i eshte dhene kontrata<%= doc.emri %></h3>


</body>
</html>